* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Montserrat;
}

body .container {
    display: flex;
    flex-direction: column;
    height: 350vh;
    background-image: url(img/BG.jpg);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: center;
    background-position-y: 92vh;
}

.jumbotron {
    margin-top: 1vh;
    text-align: center;
}

.jumbotron h1 {
    margin-top: 14vh;
    font-size: 7em;
    border-bottom: 3px solid #FFFFFF;
    border-radius: 40px;
    padding-bottom: 64px;
    transition: font-size 0.2s ease-in-out 100ms;
    cursor: default;
}

.jumbotron h1:hover {
    font-size: 7.1em;
}

.jumbotron .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    font-size: 1.1em;
}

.jumbotron .info #about-me-jumbotron{
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 16px;
}

.jumbotron .info div{
    display: flex;
    width: 90%;
}

.jumbotron .info div a{
    font-weight: bold;
    margin-top: 16px;
    border-bottom: 3px solid #FFF;
    padding-bottom: 6px;
    width: fit-content;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.2s ease-in-out 100ms;
}

.jumbotron .info div a:visited{
    color: #FFFFFF;
}

.jumbotron .info div a:hover{
    color: #FFFFFF;
    border-bottom: 3px solid #111;
}

.jumbotron .info p{
    width: 90%;
    line-height: 1.5em;
    word-spacing: 10px;
    text-align: start;
}

header {
    position: fixed;
    top: 25px;    
    width: 100%;
    z-index: 9998;
}

header .navbar {
    display: flex;
    width: 85%;
    height: 64px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(5px);
}

header .navbar .navbar-left-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 24px;
    align-items: center;
}

header .navbar .navbar-left-items p{
    font-size: 1.2em;
    margin-right: 24px;
}

header .navbar .navbar-left-items p b{
    font-size: 1.7em;
    font-weight: 900;
}

header .navbar .navbar-right-items {
    display: flex;
    flex-direction: row;
    width: 25%;
    padding-right: 24px;
    justify-content: space-around;
    align-items: center;
}

header .navbar .navbar-right-items a {
    color: #CCCCCC;
    transition: 0.2s ease-in-out 100ms;
}

header .navbar .navbar-right-items a:hover {
    color: #FFFFFF;
}

.container a {
    font-weight: normal;
    color: #FFF;
    text-decoration: none;
    border-bottom: 2px solid #111;
    transition: 0.2s ease-in-out 100ms;
    padding-bottom: 4px;
}

.container a:hover {
    font-weight: bold;
    border-bottom: 2px solid #FFF;
}

.container a:visited {
    color: #FFF;
}

.container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 142vh;
}

.container .content .content-pengalaman{
    width: 90%;
}

hr {
    margin-top: 30px;
}

.container .content .content-pengalaman li{
    margin-top: 16px;
    margin-left: 24px;
}

.container .content .content-aplikasi{
    width: 90%;
    margin-top: 36px;
}

.container .content .content-aplikasi li{
    margin-top: 16px;
    margin-left: 24px;
}

.container .content .content-gambar{
    width: 90%;
    flex-direction: column;
    margin-top: 36px;
}

.container .content .content-table{
    width: 90%;
    display: inline;
    flex-direction: column;
    margin-top: 36px;
}

.container .content .content-table table{
    margin-top: 16px;
}


.container .content .content-table table td{
    padding: 10px;
}

.container .content .form{
    width: 90%;
    margin-top: 36px;
}

.container .content .form .name{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.container .content .form .age{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}

.container .content .form .age label{
    margin-bottom: 8px;
}

.container .content .form .radio{
    display: flex;
    margin-top: 4px;
}

.container .content .form .radio p{
    margin-left: 8px;
}

.container .content .form .checkbox{
    display: flex;
    margin-top: 16px;
}

.container .content .form .checkbox label{
    margin-right: 8px;
}

.container .content .form button {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
}

#name-input {
    margin-top: 8px;
    font-size: 1.2em;
    width: 30%;
    padding: 4px;
    padding-left: 6px;
}

.container .content .back-to-top {
    position: sticky;
    width: fit-content;
    margin-left: auto;
    bottom: 50px;
    right: 25px;
    z-index: 9997;
    background-color: #fff;
}

footer {
    display: flex;
    margin-top:auto;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    background-color: #FFFFFF;
    color: #111111;
    text-align: center;
}